* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  background: url("bgimage.png") no-repeat center center;
  background-size: cover;
}

#game-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#bird {
  position: absolute;
  width: 70px;
  height: auto;
  top: 200px;
  left: 50px;
  z-index: 10;
  background: none;
}

.pipe {
  width: 50px;
  position: absolute;
  background-repeat: repeat-y;
  background-position: top;
  background-size: cover;
  z-index: 2;
}

.pipe.top {
  top: 0;
  background-image: url("green.jpg");
  border-top: 0;
}

.pipe.bottom {
  background-image: url("green.jpg");
  border-bottom: 0;
}

#score {
  position: absolute;
  top: 20px;
  left: 10px;
  font-size: 25px;
  font-weight: bold;
  color: rgb(242, 212, 111);
  text-shadow: 2px 2px 4px black;
  z-index: 999;
  font-family: "Arial", sans-serif;
  padding: 20px;
  color: white;
  text-shadow: 0 0 5px rgb(240, 237, 54), 0 0 10px rgb(223, 238, 108),
    0 0 20px rgb(235, 226, 59), 0 0 40px rgb(205, 234, 75);
}
#start-screen {
  position: absolute;
  top: 350px;
  left: 120px;
  right: 90px;
  width: 300px;
  height: 250px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  color: rgb(194, 201, 117);
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  padding: 20px;
  color: white;
  border: 2px solid rgb(0, 208, 255);
  border-radius: 10px;

  /* Neon Glow Effect */
  box-shadow: 0 0 5px #0ff, 0 0 10px #0ff, 0 0 20px #0ff, 0 0 40px #0ff;
}

#start-screen h1 {
  font-size: 40px;
  margin-bottom: 30px;
}

#start-button {
  padding: 15px 24px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  background-color: #ffd700;
  color: black;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
@media only screen and (max-width: 896px) {
  .start-screen {
    padding: 15px;
    width: 90%;
  }

  .start-screen h1 {
    font-size: 1.5em;
  }

  .start-screen button {
    font-size: 0.9em;
    padding: 8px 16px;
  }

  canvas {
    width: 100vw !important;
    height: auto !important;
  }
}

@media only screen and (max-width: 414px) {
  .start-screen h1 {
    font-size: 1.2em;
  }

  .start-screen button {
    font-size: 0.85em;
    padding: 6px 14px;
  }
}
.profile-container {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  position: absolute;
  top: 20px;
  right: 50px;
  cursor: pointer;
  z-index: 1000;
  background-color: transparent;
}

.profile-img {
  width: 60px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #faf9f9;
}

.profile-menu {
  position: absolute;
  top: 60px;
  right: 0;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 10px 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 300px;
  color: #333;
  height: 200px;
}

.profile-menu hr {
  margin: 15px 0;
  border: none;
  border-top: 1px solid #ddd;
}

#changePicBtn {
  width: 100%;
  padding: 2px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 3px;
  height: 40px;
  cursor: pointer;
  gap: 10px;
  margin: 10px auto;
}
#logoutBtn {
  width: 100%;
  padding: 3px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 3px;
  cursor: pointer;

  height: 40px;
}
.hidden {
  display: none;
}
.hud {
  position: absolute;
  top: 60px;
  margin-left: 20px;
  font-size: 32px;
  font-weight: bold;
  color: rgb(242, 212, 111);
  font-family: sans-serif;
  padding: 20px;
  color: white;
  text-shadow: 0 0 5px rgb(240, 237, 54), 0 0 10px rgb(223, 238, 108),
    0 0 20px rgb(235, 226, 59), 0 0 40px rgb(205, 234, 75);
}
